@import '../../../styles/colors.module.scss';

.friend_list {
    border: 2px solid $third;
    background: $secondary;

    .heading {
        background: $third;
    }

    .showmore{
        text-decoration: underline;
        color: $purple-100;
    }

    .friend {

        .story {
            background-color: $violet_300;

            div {
                background-color: $violet_Light;
            }
        }
    }
}