@import "../../../../../styles/colors.module.scss";

.storys {
    .story {
        background-color: $fourth;
        div {
            background-color: $violet_Light;
            transition: 0.4s;

            &:hover {
                filter: none;
            }
        }
    }
}
