@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import "../../styles/colors.module.scss";

.quickSand {
    font-family: "Quicksand", sans-serif;
}

.register {
    .slogen {
        h2 {
            color: $violet_Light;
        }
    }

    .headline {
        h3 {
            color: $violet_Light;
        }

        p {
            color: $purple-100;
        }
    }

    .register_inputs {
        background-color: $secondary;
        border: 3px solid $third;

        label {
            color: $violet_Light;
        }

        input {
            outline: 2px solid transparent;
            transition: 0.4s;
        }
        input,
        .label {
            border: 2px solid $third;

            outline: 2px solid transparent;
            transition: 0.4s;

            &::placeholder {
                font-weight: 400;
                font-size: 12px;
                color: $violet-200;
            }

            &:focus {
                outline: 1px solid $violet-300;
            }
        }

        button {
            background-color: $violet-300;
            transition: 0.3s;

            &:hover {
                background-color: $violet-400;
            }
        }

        .login {
            color: $violet-normal;
            transition: 0.2s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .headline {
        border-bottom: 3px solid $third;
    }

    .storys {
        .story {
            background-color: $violet-300;

            div {
                background-color: $purple-100;
            }
        }
    }
}

.error {
    color: #ff7b72;
    font-size: 13px;
}
