@import "../../../styles/colors.module.scss";

.sidebar {
    background-color: $secondary;
    border-right: 2px solid #292929;
    box-shadow: 0 2px 20px $third;
    box-shadow: 5px 0 30px $third;

    form {
        input {
            border: 2px solid $third;
            border-right: none;
            border-radius: 10px 0px 0px 10px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;

            &::placeholder {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 120%;
            }

            &:focus {
                border: 2px solid $fourth;
                outline: none;
            }
        }

        button {
            border: 2px solid $third;
            border-left: none;
            border-radius: 0px 10px 10px 0px;
            background-color: $fourth;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 1px 20px $fourth_hover;
                scale: 1.01;
            }

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    ul {
        @layer li {
            li {
                cursor: pointer;

                &:hover {
                    @apply bg-[#252627] rounded-[10px];
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.mobile_nav {
    background-color: $bg;
    border-top: 3px solid $third;
    border-bottom: none;

    ul {
        li {
            svg {
                width: 30px;
            }
        }
    }
}
