@import "../../../../../styles/colors.module.scss";

.storys {
    border: 1px solid $violet-600;
    transition: 0.4s;

    &:hover {
        filter: none;
    }
    & img {
        transition: 0.4s;
        &:hover {
            scale: 1.1;
        }
    }
}
