@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import "../../styles/colors.module.scss";

.quickSand {
    font-family: 'Quicksand', sans-serif;
}

.subHeadLine {
    color: $Grey_light_active;
}

.login_box {
    @media screen and (max-width: 1024px) {
        flex-direction: column !important;
        gap: 40px;
    }

    .login {
        box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.1);
        background-color: $secondary;

        div {
            label {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            input {
                border: 2px solid $third;

                &::placeholder {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                }

                &:focus {
                    outline: 2px solid $fourth;
                }
            }
        }


        button {
            background-color: $fourth;
            border-radius: 10px;
        }


        .register {
            color: $fourth;
            transition: .2s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.error{
    color: #FF7B72;
    font-size: 13px;
}