@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import "../../styles/colors.module.scss";

.quickSand {
    font-family: 'Quicksand', sans-serif;
}

.subHeadLine {
    color: $violet-100;
}

.login_box {
    @media screen and (max-width: 1024px) {
        flex-direction: column !important;
        gap: 40px;
    }

    h2{
        color: $violet-0;
    }

    .login {
        box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.1);
        background-color: $secondary;

        div {
            label {
                font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            input {
                border: 2px solid $third;
                    outline: 2px solid transparent;
                    transition: .4s;

                &::placeholder {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    color: $violet-200;
                    line-height: 120%;
                }

                &:focus {
                    outline: 1px solid $violet-300;
                    background-color: transparent;
                }
            }
        }


        button {
            background-color: $violet-300;
            border-radius: 10px;
        }


        .register {
            color: $violet-normal;
            transition: .2s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.error{
    color: #FF7B72;
    font-size: 13px;
}