@import "../../../../styles/colors.module.scss";

.post_box {
    background-color: $secondary;
    border: 2px solid $third;

    .storys {
        .story {
            background-color: $fourth;

            div {
                background-color: $third;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    scale: 1.1;
                }
            }
        }
    }

    .input {
        border: 2px solid $third;
        font-size: 12px;
        outline: none;

        &:focus {
            border: 2px solid $fourth;
        }

        &::placeholder {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
        }
    }

    .svg {
        cursor: pointer;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    .bottom {
        button {
            background-color: $fourth;
            transition: 0.4s;
            border: 3px solid transparent;

            &:hover {
                box-shadow: 0 5px 20px $fourth;
            }
        }
    }
}
