@import "../../styles/colors.module.scss";

.userInfo {
    background: $secondary;
    border: 1px solid $third;
    border-bottom: none;

    button {
        background: $violet-300;
    }

    .story {
        background-color: $violet-300;

        div {
            background-color: $secondary;
        }
    }

    .navigation {
        border-top: 2px solid $third;
        padding: 18px 0 0 0;

        li {
            padding: 12px 8px;
            position: relative;

            &::after {
                content: " ";
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                height: 4px;
                background: $violet-300;
                width: 100%;
            }
        }
    }
}

.userInfoFeed {
    border: 1px solid $third;

    .Info {
        .title {
            position: relative;
            padding-bottom: 6px;

            &::after {
                content: " ";
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                height: 4px;
                background: $violet-300;
                width: 100%;
            }
        }
    }
}
