@import "../../../styles/colors.module.scss";

.sidebar {
    background-color: $bg;
    border-right: 2px solid #0101010a;
    box-shadow: 8px 0px 24px 0px rgba(0, 0, 0, 0.15);

    form {
        input {
            font-weight: 400;
            font-size: 14px;

            border-radius: 10px 0px 0px 10px;
            background: $bg;
            box-shadow:
                0px 4px 4px 0px #0f0b14 inset,
                0px -4px 4px 0px rgba(77, 56, 106, 0.25) inset;

            &::placeholder {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 120%;
            }

            &:focus {
                box-shadow:
                    0px 4px 4px 0px #0f0b14 inset,
                    0px -4px 4px 0px rgba(77, 56, 106, 0.25) inset;
                outline: none;
            }
        }

        button {
            border-radius: 0px 10px 10px 0px;
            background-color: $violet-400;
            transition: 0.3s;

            &:hover {
                background-color: $violet-300;
            }

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .line {
        background: $third;
    }

    ul {
        @layer li {
            li {
                cursor: pointer;
                transition: 0.4s;
                &:hover {
                    background-color: $violet-400;
                    border-radius: 8px;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.mobile_nav {
    background-color: $bg;
    border-top: 3px solid $third;
    border-bottom: none;

    ul {
        li {
            svg {
                width: 30px;
            }
        }
    }
}
