@import '../../styles/colors.module.scss';

.mobile_nav{
    background-color: $bg;
    border-top: 3px solid $third;
    border-bottom: none;

    ul{
        li{
            svg{
                width: 30px;
            }
        }
    }
}