@import "../../styles/colors.module.scss";

.nav {
    background: $violet-300;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.386);
    
    .svg {
        background-color: $third;
        border: 2px solid $violet-400;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}
