@import "../../styles/colors.module.scss";

.nav {
    background: linear-gradient(#000000, #000000), $fourth;
    box-shadow: 0 10px 30px $third;
    
    .svg {
        background-color: $third;
        border: 2px solid $blue_normal;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}
