$bg: #000000;
$secondary: #000000;
$third: #1a1a1a;
$fourth: #224ebd;
$fourth_hover: #295ad7;
$red: #CD0000;


$Grey_light_active: #BDBDBD;
$Grey_light_hover: #DFDFDF;
$violet_Light: #F1ECF8;
$violet_normal: #6E3CBC;
$blue_normal: #546881;