$bg: #1E1C22;
$secondary: #19171C;
$third: #332743;
$fourth: #224ebd;
$fourth_hover: #295ad7;
$red: #CD0000;


$Grey_light_active: #BDBDBD;
$Grey_light_hover: #DFDFDF;
$violet_Light: #F1ECF8;
$violet_normal: #6E3CBC;
$blue_normal: #546881;


$violet-0: #F1ECF8;
$violet-100: #E9E2F5;
$violet-200: #D2C3EA;
$violet-300: #6E3CBC;
$violet-400: #6336A9;
$violet-500: #583096;
$violet-600: #532D8D;
$violet-700: #422471;
$violet-800: #311B55;
$violet-900: #271542;
