$bg: #0E1013;
$secondary: #17181B;
$third: #252627;
$fourth: #2A68FF;
$fourth_hover: #295ad7;


$Grey_light_active: #BDBDBD;
$Grey_light_hover: #DFDFDF;
$violet_Light: #F1ECF8;
$violet_normal: #6E3CBC;
$blue_normal: #546881;