@import "./colors.module.scss";

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d8d8d8;
    font-family: 'Open Sans', sans-serif;
    // border: 1px solid green;
}


body {
    background-color: $bg;
}

svg{
    width: 100% !important;
    height: 100% !important;
}

img{
    width: 100%;
    height: 100%;
}

.heading_Large {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.heading_Small {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.titleLarge {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;

    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }

    @media screen and (max-width: 500px) {
        font-size: 16px;
        line-height: 140%;
    }
}


.body_LargeBold {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;

    @media screen and (max-width: 1024px) {
        font-size: 14px;
    }
}

.body_Large {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    // @media screen and (max-width: 1024px) {
    //     font-size: 15px;
    // }

    @media screen and (max-width: 500px) {
        font-size: 14px;
        line-height: 140%;
    }
}

.body_Medium {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 120%;

    @media screen and (max-width: 500px) {
        font-size: 12px;
        line-height: 140%;
    }
}

.body_Medium_Bold {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 120%;

    @media screen and (max-width: 500px) {
        font-size: 12px;
        line-height: 140%;
    }
}

.label_Large {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    @media screen and (max-width: 500px) {
        font-size: 12px;
        line-height: 140%;
    }
}

.label_Medium {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 120%;
}



// Tostify code

.Toastify__toast-body {
    background-color: none;
}


.Toastify__toast-theme--dark {
    background: $secondary;
    border: 2px solid none;
}

.Toastify__toast{
    min-height: 10px !important;
}

.Toastify__toast-body{
    font-size: 14px;
}

.Toastify__close-button {
    background-color: transparent !important;
}

.Toastify__progress-bar{
    height: 2px !important;
    background: $fourth !important;

}